{% extends 'base.html.twig' %}
{% block title %}Client{% endblock %}
{% block body %}
<h5>BIENVENUE</h5>
<h2> Ajouter un Client </h2>
{{ form_start(f) }}
{{ form_widget(f) }}
{{ form_end (f)}}
{% endblock %}