<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
           <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"crossorigin="anonymous"/>
            <link rel="stylesheet" type="text/css" href="{{asset('css/app.css')}}" />
        {% endblock %}
    </head>
    <nav class="navbar bg-info">
    <div class="container-fluid">
      <a class="navbar-brand">Bienvenu à notre Hotel</a>
      <div class="d-flex">
 <a class="btn btn-success" href="{{ path('HOME') }}"> Gestion de Chambres</a>
<a class="btn btn-success" href="{{ path('HOMECLIENT') }}"> Gestion des clients  </a>
      </div>
    </div>
  </nav>
    <body>
        <a href="{{path('security_logout')}}"><span class="glyphicon glyphicon-off"></span></a> 
        {% block body %}{% endblock %}
    </body>
</html>

